// 
// _buttons.scss
// 

button,a {
  outline: none !important;
}

.btn i {
  vertical-align: top;
}

.btn-light{
  border: 1px solid darken($light, 2%);
}

// Rounded Buttons
.btn-rounded {
  border-radius: 30px;
}

.btn-dark, .btn-secondary{
  color: $gray-200 !important;
}

.btn-outline-light{
  color: $gray-900;
}

.btn-light {
  color: #212529;
  background-color: #eff2f7;
  border-color: #eff2f7;
}