body[data-sidebar="dark"] {
    background-color: $body-bg;
    color: $gray-700;
    font-size: $font-size-base;
}
.page-title-box {
    padding-bottom: $grid-gutter-width;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }

    h4 {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.btn {
    &.btn-primary {
        color: $white;
        background-color: $primary;
        border-color: $primary
    }
}

.bg-success{
    background-color: #1cbb8c !important;

    &:hover {
        background-color: #158f6b !important;
    }
}
.form-control, .multiselect-option {
    font-size: .9rem;
}
.form-control::placeholder {
    color: #ced4da;
}